<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, 
  minimum-scale=1, width=device-width, height=device-height, viewport-fit=cover, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div id="loading"></div>
  <div id="app"></div>

  <template id="not-found" src="/templates/not-found.html"></template>
  <template id="users" src="/templates/users.html"></template>
  <template id="login" src="/templates/login.html"></template>
  <template id="layout" src="/templates/layout.html"></template>

  <script type="module" src="/js/app.js"></script>
</body>
</html>