<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, 
  minimum-scale=1, width=device-width, height=device-height, viewport-fit=cover, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <div id="loading"></div>
  <div id="app"></div>

  <template id="setup">
    <div class="content setup">
      <form ref="form" class="setup-box">
        <h1>Installation</h1>

        <p>Please provide email and password for super admin account and then press "Install" to get the app up and running.</p>

        <input ref="email" type="email" class="input" placeholder="Email" required>
        <input ref="password" type="password" class="input" minlength="15" placeholder="Password" required>

        <button class="button mod-down">Install</button>
      </form>
    </div>
    <script>
      export default {
        async $setup() {
          this.$.form.$submit(this.onSubmit.bind(this));

          this.$.email.input(() => { 
            this.$.password.classList.remove('mod-error'); 
            this.$.email.classList.remove('mod-error'); 
          });

          this.$.password.input(() => { 
            this.$.password.classList.remove('mod-error'); 
            this.$.email.classList.remove('mod-error'); 
          });
        },

        async onSubmit(e) {
          document.body.classList.add('mod-loading');

          e.preventDefault(); 

          let error = false;

          if (!this.$.email.value) {
            this.$.email.classList.add('mod-error');

            error = true;
          }
          if (!this.$.password.value) {
            this.$.password.classList.add('mod-error');

            error = true;
          }
          if (error) {
            document.body.classList.remove('mod-loading');

            return;
          }
          const response = await fetch('/api/setup', {
            method: 'POST',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
              email: this.$.email.value,
              password: this.$.password.value 
            })
          });

          let json;

          try {
            json = await response.json();

            error = json.error || false;
          } catch (e) {
            error = e.message;
          }
          if (error) {
            document.body.classList.remove('mod-loading');

            if (error.includes('email')) {
              this.$.email.classList.add('mod-error');
            }
            if (error.includes('password')) {
              this.$.password.classList.add('mod-error');
            }
            return;
          }
          this.setItem('user', json);

          location.href = '/';
        }
      };
    </script>
  </template>

  <script type="module" src="/js/app.js"></script>
</body>
</html>