<div class="user">
  <div class="user-min">
    <label>ID:</label>
    <span ref="id"></span>
  </div>
  <div class="user-exact">
    <label>First name:</label>
    <span ref="first_name"></span>
  </div>
  <div class="user-exact">
    <label>Last name:</label>
    <span ref="last_name"></span>
  </div>
  <div>
    <label>Email:</label>
    <span ref="email"></span>
  </div>
  <div class="user-exact">
    <label>Phone:</label>
    <span ref="phone"></span>
  </div>
  <div class="user-min user-buttons">
    <div class="user-hidden-cell"></div>
    <div class="user-buttons-inner">
      <button ref="editUser" type="button" class="button mod-small">Edit</button>
      <button ref="deleteUser" type="button" class="button mod-small">Delete</button>
    </div>
  </div>
</div>
<script>
export default {
  async $setup() {
    this.$.id.innerHTML = this.$props.user.id;
    this.$.email.innerHTML = this.$props.user.email;
    this.$.first_name.innerHTML = this.$props.user.first_name || '--';
    this.$.last_name.innerHTML = this.$props.user.last_name || '--';
    this.$.phone.innerHTML = this.$props.user.phone || '--';

    if (this.$props.isSelf) {
      this.$.deleteUser.disabled = '';
      this.$.deleteUser.style.display = 'none';
    }
    this.$.editUser.$click(
      () => this.$props.parent.openUserPopup(this.$props.user)
    );

    this.$.deleteUser.$click(
      () => this.$props.parent.deleteUser(this.$props.user.id)
    );
  }
};
</script>